<%= form_tag(loop_path, method: 'get') do %>
    <div class="row">
      <%= label_tag(:test_run_name, 'Name for Test Run') %>
      <%= text_field_tag(:test_run_name) %>
    </div>
    <div class="row">
      <%= label_tag(:number_of_loops, 'Number of loops') %>
      <%= select_tag(:number_of_loops, options_for_select(@loops_for_select)) %>
    </div>
    <div class="row">
      <%= submit_tag('Get Loops', class: 'btn btn-success') %>
    </div>

<% end %>