<%= form_tag(multi_loop_path, method: 'get') do %>
    <div class="row">
      <%= label_tag(:test_run_name, 'Name for Test Run') %>
      <%= text_field_tag(:test_run_name) %>
    </div>
    <div class="row">
      <%= label_tag(:outer_loops, 'Number of outer loops') %>
      <%= select_tag(:outer_loops, options_for_select(@loops_for_select)) %>
    </div>
    <div class="row">
      <%= label_tag(:outer_loop_name, 'Name for outer loop') %>
      <%= text_field_tag(:outer_loop_name) %>
    </div>
    <div class="row">
      <%= label_tag(:inner_loops, 'Number for inner loops') %>
      <%= select_tag(:inner_loops, options_for_select(@inner_loops)) %>
    </div>
    <div class="row">
      <%= label_tag(:inner_loop_name, 'Name for inner_loop') %>
      <%= text_field_tag(:inner_loop_name) %>
    </div>
    <div class="row">
      <%= submit_tag('Get Loops', class: 'btn btn-success') %>
    </div>
<% end %>