<div class="jumbotron">
  <h1>Welcome to the eWings Test Application</h1>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <%= render 'shared/loop_form' %>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <%= render 'shared/multi_loop_form' %>
  </div>
</div>