<h1>Loop Hash Runner</h1>
<div class="row">
  <div class="col-md-offset-1">
    <h2>Test run name: <%= @name %></h2>
  </div>
</div>
<div class="col-md-offset-1">
  <% @multi_loop.hash.each_with_index do | hash, index | %>
    <p>Loop name: <%= @multi_loop.loop_name %> </p>
    <p>Round and round goes the loop. Iteration no.  <%= index + 1 %></p>
    <p> <%= hash %> </p>
      <p>Inner loop name: <%= @multi_loop.inner_hashes[hash.to_sym].loop_name %></p>
      <% @multi_loop.inner_hashes[hash.to_sym].hashes.each_with_index do | inner_hash, index | %>
        <p>Random text number <%= index + 1 %> from this scope: <%= inner_hash %></p>
      <% end %>
      <p>Random text from scope above: <%= hash %>
  <% end %>
</div>

