<h1>Loop Hash Runner</h1>
<div class="row">
  <div class="col-md-offset-1">
    <h2>Test run name: <%= @name %></h2>
  </div>
</div>
<div class="col-md-offset-2">
  <% @hashes.each_with_index do |hashes, index| %>
    <p>Round and round goes the loop. Iteration no. <%= index + 1 %>.</p>
    <p> <%= hashes %> </p>
  <% end %>
</div>
<%= render 'shared/loop_form' %>


